*.o
*.lo
*.la
config.log
config.status
stamp-h1
.deps
.libs
Makefile
Makefile.in
autom4te.cache
Makefile.old
aclocal.m4
compile
configure
depcomp
install-sh
missing
test-driver
config.h
config.h.in~
.pc
.dirstamp
